<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>List groups</title>
    <style>
        table {
            width: 40%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ccc;
        }

        th, td {
            padding: 8px 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h2>Список групп и их куратора</h2>
<a href="{% url 'home' %}">Главная страница</a>
<br>
<br>
{% if groups %}
<table>
    <tr>
        <th style="width: 5%;">ID</th>
        <th style="width: 10%;">Название</th>
        <th style="width: 15%;">Куратор</th>
        <th style="width: 15%;">Студенты</th>

    </tr>
    {% for group in groups %}
    <tr>
        <td>{{ group.id }}</td>
        <td><a href="{% url 'group_edit' group.id %}">{{ group.name }}</a></td>
        <td><a href="{% url 'teacher_edit' group.curator.id %}">{{ group.curator }}</a></td>
        <td>
            {% for student in group.students.all %}
                <a href="{% url 'student_edit' student.id %}">{{ student.first_name }} {{ student.last_name }}</a><br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>В базе данных нет групп.</p>
{% endif %}
</body>
</html>