<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <style>
        a {
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Главная страница</h1>
<a aria-current="page" class="container nav-link d-flex align-items-center gap-2 active" href="/generate-student">
    Сгенерировать студента
</a>
<a aria-current="page" class="container nav-link d-flex align-items-center gap-2 active"
   href="/generate-students/?count=10">
    Сгенерировать 10 студентов
</a>
<a aria-current="page" class="container nav-link d-flex align-items-center gap-2 active" href="/students">
    Список всех студентов
</a>
</body>
</html>