<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <style>
        a {
            display: block;
            margin-bottom: 10px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Главная страница</h1>
<h3>Студенты</h3>
<a href="{% url 'student' %}">Добавить студента</a>
<a href="{% url 'generate_student' %}">Сгенерировать студента</a>
<a href="{% url 'generate_students' %}?count=10">Сгенерировать 10 студентов</a>
<a href="{% url 'students' %}">Список всех студентов</a>
<h3>Учителя</h3>
<a href="{% url 'teacher' %}">Добавить учителя</a>
<a href="{% url 'teachers' %}">Список всех учителей</a>
<h3>Учебные группы</h3>
<a href="{% url 'group' %}">Добавить группу</a>
<a href="{% url 'groups' %}">Список всех групп</a>
</body>
</html>