<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List students</title>
    <style>
        table {
            width: 35%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ccc;
        }

        th, td {
            padding: 8px 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h2>Список студентов</h2>
<a aria-current="page" class="container nav-link d-flex align-items-center gap-2 active" href="/">
    Главная страница
</a>
<br>
<br>
{% if students %}
    <table>
        <tr>
            <th style="width: 5%;">ID</th>
            <th style="width: 10%;">Имя</th>
            <th style="width: 10%;">Фамилия</th>
            <th style="width: 10%;">Дата рождения</th>
            <th style="width: 5%;">Группа</th>
        </tr>
        {% for student in students %}
            <tr>
                <td><a href="{% url 'student_edit' student.id %}">{{ student.id }}</a></td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.birth_date }}</td>
                <td>{{ student.group }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>В базе данных нет студентов.</p>
{% endif %}
</body>
</html>
