<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List teachers</title>
    <style>
        table {
            width: 55%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table, th, td {
            border: 1px solid #ccc;
        }

        th, td {
            padding: 8px 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h2>Список учителей</h2>
<a href="{% url 'home' %}">Главная страница</a>
<br>
<p>Сортировка в обратном порядке для быстрой проверки последних добавленных учителей</p>
{% if teachers %}
    <table>
        <tr>
            <th style="width: 5%;">ID</th>
            <th style="width: 10%;">Имя</th>
            <th style="width: 10%;">Фамилия</th>
            <th style="width: 10%;">Дата рождения</th>
            <th style="width: 20%;">Предмет</th>
        </tr>
        {% for teacher in teachers %}
            <tr>
                <td><a href="{% url 'teacher_edit' teacher.id %}">{{ teacher.id }}</a></td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.birth_date }}</td>
                <td>{{ teacher.subject }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>В базе данных нет учителей.</p>
{% endif %}
</body>
</html>